@import url('https://fonts.googleapis.com/css?family=Bangers|Creepster|Ewert|Fascinate|Faster+One|Metal+Mania|Monoton|Oleo+Script+Swash+Caps|Pacifico|Patua+One|Permanent+Marker|Piedra|Press+Start+2P|Ranchers|Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


a, li, p, button, span, b, input, textarea, option, select {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

a {
  //color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  li {
    padding-left: 1rem;
  }
}